
body{
  flex:1;
  background-color: #0b2545;
  margin:20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
label{
  color:#ffb703;
  font-size: 24px;
  font-weight: 500;
}
canvas{
  margin: 20px;
  border-radius: 10px;
}

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  min-height: 44px;
  touch-action: manipulation;
  width: 100%;
  margin-top: 20px;
}

button:hover,
button:focus {
  opacity: .75;
  border-color: #ffb703;
  outline: none;
  box-shadow: #ffb703 0px 0px 0px 3px;
}
input{ 
  font-size: 24px;
  line-height: 20px;
  color:#134074;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  margin: 15px 0;
  width:98%;
}
input::placeholder{
  font-size: 20px;
  background-color: #eef4ed;
  color:#134074
}
input:focus{
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
h2{
  color: #eef4ed;
  font-size: 40px;
}
form{
  height: 540px;
}
.shapes{
  margin-left: 20px;
}
@media only screen and (max-width: 700px) {
  .container{
    display: inline
  }
}